.character_card__root,
.character_card__root_skelleton {
  height: 245.97px;
  width: 188.57px;
  background-color: var(--surface-color);
  position: relative;
  transition: var(--transition-time);
  clip-path: polygon(100% 0, 100% 94.78%, 93.19% 100%, 0 100%, 0 0);
}
.character_card__root_skelleton,
.character_card__root_skelleton > figure,
.character_card__root_skelleton > div > button {
  cursor: progress;
}

.character_card__root:hover {
  background-color: var(--primary-color);
}
.character_card__root:hover
  > .character_card__info_container
  > .favorite_counter__icon_container {
  color: var(--font-color-contrast) !important;
}
.character_card__image_container {
  height: 189.97px;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--surface-color-ligth);
  border-bottom: solid 5.38px red;
  background: url(--character-thumbnail);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.character_card__info_container {
  position: absolute;
  bottom: 0;
  height: 56px;
  width: 100%;
  padding: var(--p-md) var(--p-md) var(--p-lg) var(--p-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character_card__name_label {
  color: var(--font-color-contrast);
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: 16.41px;
  width: 80% !important;
}

@media (max-width: 769px) {
  .character_card__root {
    width: 172.5px;
    clip-path: polygon(100% 0, 100% 94.78%, 92.54% 100%, 0 100%, 0 0);
  }
}
