.favorite_counter__root {
  width: 56px;
  height: 37.68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-xs);
  cursor: pointer;
}
.favorite_counter__icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}
