:root {
  /* Colors */
  --primary-color: #ec1d24;
  --surface-color: #000000;
  --bg-color: #ffffff;
  --inactive-color: #aaaaaa;
  --surface-light-color: #d9d9d9;

  /* Padding */
  --p-xl: 12px;
  --p-sm: 16px;
  --p-lg: 24px;
  --p-xxl: 48px;

  accent-color: var(--primary-color);
  font-family: "Roboto Condensed", sans-serif;
}
